  @font-face {
  font-family: 'azonixregular';
  src: url('http://www.scoutcurry.com/static/fonts/azonix-1vb0-webfont.woff2') format('woff2'),
       url('http://www.scoutcurry.com/static/fonts/azonix-1vb0-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'procrasinatingpixieregular';
  src: url("http://www.scoutcurry.com/static/fonts/ProcrastinatingPixie-WyVOO.eot") format('truetype'),/* EOT file for IE */
      url("http://www.scoutcurry.com/static/fonts/ProcrastinatingPixie-WyVOO.ttf") format('truetype');/* TTF file for CSS3 browsers */
 }

@font-face {
  font-family: 'plat_nomorregular';
  src: url('http://www.scoutcurry.com/static/fonts/platnomor-wyvnn-webfont.woff') format('woff2'),
       url('http://www.scoutcurry.com/static/fonts/platnomor-wyvnn-webfont.ttf') format('truetype'),
       url('http://www.scoutcurry.com/static/fonts/platnomor-wyvnn-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'bockregular';
  src: url('http://www.scoutcurry.com/static/fonts/bock-ljjg-webfont.woff2') format('woff2'),
  url('http://www.scoutcurry.com/static/fonts/bock-ljjg-webfont.ttf') format('truetype'),
       url('http://www.scoutcurry.com/static/fonts/bock-ljjg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'typographicaregular';
  src: url('http://www.scoutcurry.com/static/fonts/typographica-blp5-webfont.woff2') format('woff2'),
  url('http://www.scoutcurry.com/static/fonts/typographica-blp5-webfont.ttf') format('truetype'),
       url('http://www.scoutcurry.com/static/fonts/typographica-blp5-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

 :root {
  --color1: #0B0C10;
  --color2: #1F2833;
  --color2-dark: rgb(27, 35, 45);
  --color3: rgb(211, 222, 237);
  --color35: rgb(164, 172, 184);
  --color4: #66FCF1;
  --color4-light: rgb(186, 255, 250);
  --color4-dark: rgb(80, 198, 190);
  --color5: #45A29E;
  --color6: rgb(27, 34, 45);
  --color7: rgb(27, 31, 45);
  --normal-text: 1.3rem;
}

header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
  min-height: 100vh;
  /* min-height: 50rem; */
}

header {
  /* background: var(--color2); */
  background-image: radial-gradient(circle, rgba(27, 31, 45, 1)0%,rgba(27, 31, 45)20%, rgba(27, 31, 45, 0.99)40%, rgba(27, 31, 45, 0.9)70%, rgba(27, 31, 45, 0.85)80%, rgba(27, 31, 45, 0.7)100%), url(/static/images/js-code-background.jpg);

}

a {
  color: var(--color4);
  text-decoration: none!important;
}

a:hover {
  color: var(--color4-light)!important;
}

hr {
  border-top: 3px solid var(--color4);
}

p {
  font-size: var(--normal-text);
  line-height: 2.5rem;
}

ul li {
  list-style: none;
  font-size: var(--normal-text);
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: var(--color4) !important;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: rgba(102, 252, 242, 0.7);
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(102, 252, 242, 0.7);
}

.intro {
  display: flex;
  width: 100%;
  height: 100vh;
  min-height: 50rem;
  justify-content: center;
  align-items: center;
}

#about {
  background-image: linear-gradient(to right bottom, rgba(31, 40, 51, 0.399), #1F2833),url(/static/images/red-dead-2-background.jpg);
  background-size: cover;
}

#technologies {
  background-image: radial-gradient(circle, rgba(27, 31, 45, 1)0%,rgba(27, 31, 45)20%, rgba(27, 31, 45, 0.99)40%, rgba(27, 31, 45, 0.9)70%, rgba(27, 31, 45, 0.85)80%, rgba(27, 31, 45, 0.7)100%), url(/static/images/technology.jpg);
  background-position: top;
  background-size: cover;
  position: relative;
}

#projects {
  background-image: linear-gradient(to right, rgba(27, 31, 45, .3)0%,rgba(27, 31, 45, .7)10%, rgba(27, 31, 45, .95)20%, rgba(27, 31, 45, 0.99)50%, rgba(27, 31, 45, 0.95)80%, rgba(27, 31, 45, 0.7)90%,rgba(27, 31, 45, 0.3)100%), url(/static/images/geometry.jpg);
  background-position: top;
  background-size: cover;
  position: relative;
}

#footer {
  background-color: var(--color1);
}

.nav-link:hover {
  color: rgba(102, 252, 242, 0.726)!important;
}

.bock {
  font-family: 'bockregular';
}

.pixie {
  font-family: 'procrasinatingpixieregular';
}

.azonix {
  font-family: 'azonixregular';
}

.plat-nomor {
  font-family: 'plat_nomorregular';
}

.lg-l-space {
  letter-spacing: .65rem;
}

.md-l-space {
  letter-spacing: .25rem;
}

.huge {
  font-size: 12.5rem;
}

.big {
  font-size: 3rem;
}

.medium {
  font-size: 2rem;
}

.fa {
  font-size: 4rem;
  color: var(--color4);
}

.bg-1 {
  background: var(--color1)!important;
}

.bg-2 {
  background: var(--color2-dark)!important;
}

.bg-opacity-2 {
  background: rgb(27, 35, 45, 0.95);
}

.text-3 {
  color: var(--color3) !important;
  background-size: 400% auto;
}

.text-35 {
  color: var(--color35) !important;
}

.text-4 {
  color: var(--color4)!important;
}

.text-5 {
  color: var(--color5)!important;
}

.tech {
  text-transform: uppercase;
}

.shimmer {
  background-image: linear-gradient(45deg, white 25%, #fde071 37.5%, var(--color4), white 75%);
  background-size: 80%;
  animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: rgba(102, 252, 242, 0.548);
}

.social-link {
  font-size: 3.5rem;
}

.shiny {
  background-image: -webkit-linear-gradient(left, var(--color4) 25%, rgb(156, 255, 248) 37.5%, rgb(193, 252, 248), rgb(255, 255, 255) 62.5%, var(--color4) 75%);
  background-image: linear-gradient(45deg, var(--color4) 25%, rgb(156, 255, 248) 37.5%, rgb(193, 252, 248), rgb(255, 255, 255) 62.5%, var(--color4) 75%);
  background-position: right center;
  background-size: 700% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: var(--color4);
  -webkit-text-fill-color: transparent;

}

.shiny:hover {
  background-position: left center;
  color: var(--color4);
  transition: background-position 1100ms linear;
  transform: scale(1.1);
}

.ease-in {
  animation: 1s ease-out appear;
}

.float {
  -webkit-animation:'float' 2s infinite ease-in-out;
  animation: 'float' 2s infinite ease;
  animation-fill-mode: both;
  animation-delay: 10s;
}


.img {
  width: 8rem;
  height: 8rem;
  background-size: 8rem auto;
  background-repeat: no-repeat;
}

#pro-pic {
  background-image: url('/static/images/Pro_pic_1MB.jpg');
}

@keyframes shine {
  0% {
    background-position: -1200%;
  }
  100% {
    background-position: 1200%;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 575px) {


  .huge {
    font-size: 7rem;
  }
  h3 {
    font-size: 2rem!important;
  }
  .display-3 {
    font-size: 2rem!important;
  }
  a.medium {
    font-size: 1.5rem;
  }
}
